.cardMenu {
  display: flex;
  background: rgba(235, 217, 241, 0.2);

  &__button {
    align-self: flex-end;
    justify-self: end;
  }

  &__weather {
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;

    &-temp {
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      color: #000;
    }
  }
}