.form {
  display: flex;
  margin: 0 10px;
  
  
  &__data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    border: #000 solid 0.5px;
    border-radius: 5px;
    padding: 10px;
    background: rgba(235, 217, 241, 0.5);

    &-right {
      margin-right: 80px;
      margin-top: 10px;
    }

    &-current {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;
    }

    &-icon {
      width: 100px;
    }

    &-place {
      margin-top: 10px;
      font-size: 40px;
      font-style: italic;
      font-weight: 700;

      @media screen and (max-width: 740px) {
        font-size: 40px;
      }

      @media screen and (max-width: 420px) {
        font-size: 26px;
      }
    }

    &-temperature {
      font-size: 50px;
      font-weight: 500;
      color: #000;

      @media screen and (max-width: 740px) {
        font-size: 40px;
      }

      @media screen and (max-width: 420px) {
        font-size: 26px;
      }
    }

    &-desc {
      display: flex;
      font-size: 24px;
      margin-bottom: 2px;
      color: #000;

      @media screen and (max-width: 420px) {
        font-size: 16px;
      }
    }
  }
}
