body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url(./component/media/panoramic-view-field-covered-grass-trees-sunlight-cloudy-sky.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../src/component/media/Sunlit\ wave.jfif);
  /* background-color: rgb(56, 46, 110); */
  padding: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
