.form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  
  
  &__data {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: #000 solid 0.5px;
    border-radius: 5px;
    padding: 10px;
    background: rgba(235, 217, 241, 0.5);

    &-date {
      align-self: flex-start;
    }

    &-current {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-icon {
      width: 100px;
    }

    &-place {
      margin-top: 10px;
      font-size: 40px;
      font-style: italic;
      font-weight: 700;
    }

    &-temperature {
      font-size: 50px;
      font-weight: 500;
      color: #fff;

      @media screen and (max-width: 740px) {
        font-size: 40px;
      }
    }

    &-desc {
      display: flex;
      margin-bottom: 2px;
      background: rgba(235, 217, 241, 0.8);
      color: #000;
    }
  }
}

.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
  background: rgba(235, 217, 241, 0.5);
  color: #fff;
}