.form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  
  &__data {
    display: flex;
    flex-direction: column;
    border: #000 solid 0.5px;
    margin-top: 10px;
    border-radius: 5px;

    &-date {
      align-self: flex-start;
    }

    &-current {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-icon {
      width: 100px;
    }

    &-place {
      margin-top: 10px;
      font-size: 40px;
      font-style: italic;
      font-weight: 700;

      @media screen and (max-width: 740px) {
        font-size: 40px;
      }

      @media screen and (max-width: 420px) {
        font-size: 26px;
      }
    }

    &-temperature {
      font-size: 50px;
      font-weight: 500;
      color: #fff;

      @media screen and (max-width: 740px) {
        font-size: 40px;
      }

      @media screen and (max-width: 420px) {
        font-size: 26px;
      }
    }

    &-desc {
      display: flex;
      margin-bottom: 2px;
      color: #000;
    }
  }
}

.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
  background: #fff;
  color: #000;
}
